.cta {
  background-color: $primary-200;
  border: 0;
  color: #fff;
  cursor: pointer;
  height: 55px;
  padding: 10px 40px;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    background-color: $primary-400;
  }
}

.main-cta {
  display: block;
  font-size: 1.3rem;
  letter-spacing: 0.035rem;
  margin: 50px auto;
  padding: 20px;
  width: 300px;
}
