.wrapper {
  margin: 0 auto;
  min-height: 76vh;

  @media #{$mq-tablet-and-up} {
    max-width: 700px;
  }

  @media #{$mq-small-desktop-and-up} {
    max-width: 900px;
  }

  @media #{$mq-large-desktop-and-up} {
    max-width: 1200px;
  }
}

.wrapper.internal {
  min-height: unset;
}

.girdle {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}
