$primary-100: #decbf4;
$primary-200: #7548a8;
$primary-300: #c29ced;
$primary-400: #a07fc6;
$primary-500: #331f49;

$neutral-100: #fff;
$neutral-200: #f4f5f7;
$neutral-300: #e1e1e1;
$neutral-400: #737581;
$neutral-500: #4a4b53;
$neutral-600: #212121;

$text-color: $neutral-600;
$text-inverted: $neutral-100;
