.hero-img {
  background: transparent url('../media/about-hero.jpg') 0 30% no-repeat;
  background-size: cover;
  height: 400px;
  margin: 40px 0;
  overflow: hidden;
  width: 100%;
}

.hero-img-contact {
  background: transparent url('../media/contact-hero.jpg') 0 50% no-repeat;
  background-size: cover;
  height: 400px;
  margin: 40px 0;
  overflow: hidden;
  width: 100%;
}
