.newsletter {
  background-color: $neutral-200;
  margin-top: 50px;
  padding: 40px 20px;
  text-align: center;

  .girdle {
    max-width: 700px;
  }

  h3 {
    margin: 0 0 20px;
  }

  form {
    @media #{$mq-tablet-and-up} {
      display: flex;
      margin-top: 20px;
    }
  }

  .field-group {
    margin: 20px 0;
    padding: 0;

    @media #{$mq-tablet-and-up} {
      flex-basis: 60%;
      margin: 0;
    }
  }

  button {
    width: 100%;

    @media #{$mq-tablet-and-up} {
      flex-basis: 40%;
    }
  }

  .nobotz {
    left: -5000px;
    position: absolute;
  }
}
