@use 'sass:math';

.main-search {
  margin: ($base-spacing * 1.5) 0;
  padding: math.div($base-spacing, 2);
  text-align: left;

  @media #{$mq-tablet-and-up} {
    align-items: flex-end;
    display: flex;
    gap: $base-spacing;
    grid-gap: $base-spacing;
    margin-bottom: $base-spacing * 4;
  }

  .field-group {
    margin-bottom: math.div($base-spacing, 2);
    padding: 0;

    @media #{$mq-tablet-and-up} {
      flex: 1 1;
      margin-bottom: 0;
    }
  }

  .cta {
    width: 100%;

    @media #{$mq-tablet-and-up} {
      flex: 0 1;
      width: max-content;
    }
  }

  .postalcode {
    @media #{$mq-small-desktop-and-up} {
      width: 100%;
    }
  }

  .service-query {
    @media #{$mq-tablet-and-up} {
      width: 100%;
    }
  }
}
