:root {
  --color-page-background: #efd9ce;
  --color-link-color: #03045e;

  --color-neutral-inverted: #fff;

  --color-neutral-900: #062726;
  --color-neutral-800: #102b3f;

  --color-purple-900: #6247aa;
  --color-purple-800: #7251b5;
  --color-purple-700: #815ac0;
  --color-purple-600: #9163cb;
  --color-purple-500: #a06cd5;
  --color-purple-400: #b185db;
  --color-purple-300: #c19ee0;
  --color-purple-200: #d2b7e5;
  --color-purple-100: #e2cfea;

  --layout-default-spacing: 1.2rem;
  --layout-medium-spacing: 2rem;

  --layout-default-icon-size: 1rem;
  --layout-medium-icon-size: 1.5rem;

  --layout-max-page-width: 90em;

  --layout-bring-to-front: 1000;

  --typography-size-xxl: 4.209rem;
  --typography-size-xl: 3.157rem;
  --typography-size-large: 2.369rem;
  --typography-size-medium: 1.777rem;
  --typography-size-small-medium: 1.333rem;
  --typography-size-default: 1rem;
  --typography-size-tiny: 0.75rem;
}

a {
  color: var(--color-link-color);
}

/* Reset some list default styling. Useful when creating custom styled lists */
.reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Reset some button defaults. Useful when creating custom styled buttons */
.ghost-button {
  background: none;
  border: 0;
  cursor: pointer;
}

/* We use display: none; because we _do_ want to hide the tab panel from 
   everyone _including_ screen readers. */
.hidden {
  display: none;
}

/* hides from everyone except screen readers */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* reverts the visually-hidden styling */
.revert-visually-hidden {
  position: initial;
  width: initial;
  height: initial;
  margin: initial;
  padding: initial;
  overflow: initial;
  clip: initial;
  border: initial;
}
