.signup form {
  margin: 0 auto;
  max-width: 600px;

  &::before {
    background: transparent url('../media/signup/complete-signup.svg') 0 0
      no-repeat;
    background-size: 340px auto;
    content: '';
    display: block;
    height: 220px;
    margin: 0 auto;
    width: 340px;
  }

  label {
    padding: 20px;
  }

  button {
    display: block;
    margin: 40px auto 0;
    max-width: 250px;
  }
}
