.user-edit {
  text-align: center;

  @media #{$mq-tablet-and-up} {
    .user-details {
      margin: 20px auto;
      width: 500px;
    }
  }

  @media #{$mq-small-desktop-and-up} {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .user-profile-header {
      flex-basis: 40%;
      margin-bottom: 60px;
    }

    .user-details {
      align-self: center;
      flex-basis: 50%;
    }
  }

  form {
    text-align: left;
  }

  button {
    margin-top: 20px;
  }

  textarea {
    height: 200px;
  }
}
