@import '../vars/media-queries';

.user-profile {
  text-align: center;

  @media #{$mq-small-desktop-and-up} {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .user-profile-header {
      flex-basis: 50%;
      margin-bottom: 60px;
    }

    .user-details {
      align-self: center;
      flex-basis: 25%;
    }

    &.business {
      .user-profile-header {
        flex-basis: 100%;
        margin-bottom: 60px;
      }

      .user-details {
        align-self: inherit;
        flex-basis: 45%;
      }

      .business-details {
        flex-basis: 45%;
      }
    }
  }

  @media #{$mq-large-desktop-and-up} {
    justify-content: center;
  }

  .user-profile-header {
    h2 {
      margin: 0 auto;
      max-width: 320px;
    }
  }
}
